*{
  box-sizing: border-box;
}

h1, h2, h5, p{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img, svg{
  display: block;
  max-width: 100%;
  height: auto;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgb(10, 20, 58);
}


.btn{
  padding: 10px 15px;
  border-color: transparent;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.btn--online{
  background-color: rgb(255, 255, 255);
  color: rgb(10, 20, 58);
}

.btn--primary{
  background-color: rgb(37, 110, 235);
  color: rgb(255, 255, 255);
}

.container{
  width: 100%;
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
}

.header{
  padding: 32px 0 28px;
}

.header__box{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.header__logo span{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.header__controls{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__burger{
  width: 30px;
  height: 15px;
  display: none;
}

.search{
  margin-bottom: 45px;
}

.search__box{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  border-radius: 5px;
  padding: 3px;
  background-color: rgb(37, 110, 235);
}

.search__input{
  flex-grow: 1;
  min-width: 0;
  padding: 14px 21px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(255, 255, 255);
}

.search__input::placeholder{
  color: rgba(10, 20, 58, 0.4);
}

.search__btn{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px 20px;
}

.search__btn-icon{
  width: 15px;
  height: 15px;
}

.search__btn-text{
  font-size: 16px;
  line-height: 19px;
}

.content__box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.content__main{
  flex-grow: 1;
}

.content__main-title{  
  margin-bottom: 25px; 
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgb(10, 20, 58);
}

.content__main-list{
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}

.list__item{
  width: calc((100% - 60px) / 3);  /*  3 карточки в ряд, расстояние между ними 30px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden; /*  все что у картинки не влизает в list__item, обрежет */
}

.content__sidebar{
  width: 261px;
}

.list__item-img-box{
  margin-bottom: 12px;
  width: 264px;
  height: 178px;
}

.list__item-img-box  img{
  width: 100%; /* если большая картнка, чтоб не сломался контент */
}

.list__item-title{
  margin-bottom: 5px;
  color: rgb(37, 110, 235);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.list__item-price{
  margin-bottom: 10px;
  color: rgb(10, 20, 58);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.list__item-address{
  margin-bottom: 4px;
  color: rgb(196, 196, 196);
}

.list__item-date{
 color: rgb(196, 196, 196);
}















@media (max-width: 1200px) {
  .container{
    max-width: 930px;
  }

  .list__item{
    width: calc((100% - 30px) / 2);  /*  2 карточки в ряд */
  }
}


@media (max-width: 991px) {
  .container{
    max-width: 730px;
  }

  .content__box{
    flex-direction: column;
  }

  .content__main{
    width: 100%;
  }

  .content__sidebar{
    width: 100%;
  }
}


@media (max-width: 786px) {
  .container{
    max-width: 100%;
  }

  .header__controls{
    display: none;
  }

  .header__burger{
    display: block;
  }

  .search__btn-text{
    display: none;
  }
}


@media (max-width: 480px) {
  .list__item{
    width: 100%;  
  }
}